*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header start */


header{
    padding: 10px;
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    align-items: center;
    gap: 30px;
}
.header_left{
    display: flex;
    align-items: center;
}
.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}
.address{
    padding: 20px 30px;
}
.address h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.address p{
    font-size: 14px;                                                                                                               
}
.search_box{
    display: flex;
    flex-grow: 1;
    border: 1px solid #f4f4f4;
    background-color: #f8f8f8;
    border-radius: 16px;
}
.search_box button{
    padding: 12px;
    border: none;
    background-color: transparent;
}
.search_box input{
    flex-grow: 1;
    border: none;
    background-color: transparent;
}
.search_box input:focus{
    outline: none;
}
.header_btn{
    display: flex;
    /* padding: 15px; */
    gap: 40px;
    margin-right: 40px;
}
.header_btn button{
    padding: 15px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    font-weight: bold;
}
.header_btn button:last-child{
    background-color: rgb(53, 162, 53);
    color: #fff;
    border-radius: 30px;
}
.header_btn button:last-child:hover{
    padding: 18px;
}

/* header complete */

/* banner start */

.banner_section{
    max-width: 1280px;
    margin: auto;
}
.banner_section img{
    width: 100%;
    height: auto;
}
.order_banner{
    display: flex;
    justify-content: center;
    max-width: 1280px;
    gap: 10px;
    margin: auto;
}
.order_banner .order_banneritem img{
    width: 100%;
}
.category_section{
    max-width: 1280px;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    justify-content: center;
}
.category_section .category_item{
    flex-basis: 10%;
}
.category_section .category_item img{
    width: 100%;
    height: auto;
}
.product_section{
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.product_section .heading_row{
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.product_section .heading_row a{
    text-decoration: none;
    color: rgb(53, 162, 53);
}
.product_section .product_row{
    width: 100%;
    display: flex;
    margin: 10px 0;
}
.product_section .product_row .product_item{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
    /* box-shadow: 0px 0px 10px 2px #ccc; */
}
.product_section .product_row .product_item img{
    width: 70%;
}
.product_img{
    flex-wrap: wrap;
    flex-basis: 16%;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 2px #ccc;
    gap: 2%;
    /* margin: 5px; */
    border-radius: 15px;
    /* justify-content: center; */
}
.product_img {
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
.product_img p{
    margin-left: 10px;
    padding: 4px auto;
    align-items: center;
    width: auto;
    background-color: #f8f8f8;
    display: table;
    text-align: left;
}
.product_content{
    padding: 2px 15px;
    /* padding-top: 0; */
    text-align: left;
    
}
.product_content h3{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.product_content p{
    font-size: 12px;
    color: #848080;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}
.price button{
    padding: 5px 15px;
    background-color: #f7fff9;
    border: 1px solid rgb(53, 162, 53);
    border-radius: 10px;
}
.price button:hover{
    background-color: rgb(53, 162, 53);
    color: #fff;
    border: 2px solid  rgb(53, 162, 53);
}
footer{
    padding-top: 40px;
}
.footer_mid{
    max-width: 1280px;
    margin: auto;
}
.footer_mid .row1{
    width: 100%;
    display: flex;
    gap: 40px;
}
.footer_mid .row1 .row1_left{
    flex-basis: 30%;
}
.footer_mid .row1 .row1_right{
    flex-basis: 70%;
}
.footer_mid .row1 .row1_left h3{
    margin-bottom: 10px;
}
.Usefullinks{
    display: flex;
}
.Usefullinks ul{
    padding: 10px 0;
    flex-basis: 100%;
    list-style-type: none;
}
.Usefullinks ul li{
    padding: 5px 0;
    margin-bottom: 5px;
}
.Usefullinks a{
    text-decoration: none;
    color: #848080;
    font-size: 16px;
}
.catagory_heading{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 50px;
}
.catagory_heading h3{
    font-size: 32px;
}
.catagory_heading a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(53, 162, 53);
}
.row1_right .Usefullinks{
    padding-top: 20px;
}
.row2{
    padding: 20px 0;
    width: 100%;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
}
.row2 p{
    flex-basis: 40%;
    text-align: center;
    font-size: 14px;
    color: #888;
}
.icons{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.icons h4{
    color: #666;
}
.row3 p{
    padding: 10px 0px;
    font-size: 15px;
    line-height: 20px;
    color: #848080;
}
.social_links{
    display: flex;
    gap: 20px;
}
.social_links i{
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #1f1f1f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 200px) and (max-width: 575px) {
    body{
        padding-bottom: 12%;
    }
    header{
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }
    .header_left{
        justify-content: center;
    }
    .logo{
        padding: 10px;
    }
    .address{
        padding: 10px;
    }
    .address h3{
        font-size: 15px;
    }
    .address p{
        font-size: 12px;                                                                                                               
    }
    .search_box button{
        padding: 10px;
    }
    .header_btn{
        position: fixed;
        width: 100%;
        margin-right: 0;
        bottom: 0;
        background-color: #fff;
        justify-content: center;
    }
    .order_banner{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0 10px;
    }
    .category_section{
        flex-wrap: wrap;
        margin: 0 10px;
    }
    .category_section .category_item{
        flex-basis: 20%;
    }
    .product_item{
        padding: 0px 10px;
    }
    .product_img{
        flex-basis: 46%;
        margin: 0px auto;
    }
    .heading_row{
        margin-bottom: 10px;
    }
    .heading_row h2{
        font-size: 22px;
    }
    .footer{
        padding: 0;
    }
    .footer_mid .row1{
        padding: 20px;
        flex-direction: column;
    }
    .Usefullinks ul li{
        padding: 8px 2px;
        margin-bottom: 3px;
    }
    .Usefullinks a{
        font-size: 13px;
        font-weight: bolder;
    }
    .row3 p{
        padding: 0px 10px;
    }
    .row2{
        flex-direction: column;
        gap: 15px;
    }
}



@media screen and (min-width: 575px) and (max-width: 991px) {
    body{
        padding-bottom: 7%;
    }
    header{
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }
    .header_left{
        justify-content: center;
    }
    .logo{
        padding: 10px;
    }
    .address{
        padding: 10px;
    }
    .address h3{
        font-size: 15px;
    }
    .address p{
        font-size: 12px;                                                                                                               
    }
    .search_box button{
        padding: 10px;
    }
    .header_btn{
        position: fixed;
        width: 100%;
        margin-right: 0;
        bottom: 0;
        background-color: #fff;
        justify-content: center;
    }
    .order_banner{
        padding: 10px;
        display: flex;
        /* flex-direction: column; */
        gap: 8px;
        margin: 0 10px;
    }
    .category_section{
        flex-wrap: wrap;
        margin: 0 10px;
    }
    .category_section .category_item{
        flex-basis: 20%;
    }
    .product_item{
        padding: 0px 10px;
    }
    .product_img{
        flex-basis: 30%;
        margin: 0px auto;
    }
    .heading_row{
        margin-bottom: 10px;
    }
    .heading_row h2{
        font-size: 22px;
    }
    .row1_left h3{
        font-size: 30px;
    }
    .footer{
        padding: 0;
    }
    .footer_mid .row1{
        padding: 20px;
        flex-direction: column;
    }
    .Usefullinks ul li{
        padding: 8px 2px;
        margin-bottom: 3px;
    }
    .Usefullinks a{
        font-size: 18px;
        font-weight: bolder;
    }
    .row3 p{
        padding: 0px 10px;
    }
    .row2{
        flex-direction: column;
        gap: 15px;
    }
    .social_links{
        display: flex;
        gap: 10px;
    }
    .social_links i{
        width: 50px;
        height: 50px;
        color: #fff;
        background-color: #1f1f1f;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}